<header>
    {{#ifEquals role "USER"}}
        <h1>Hola {{ name }}! Bienvenid@ a mi E-Commerce!</h1>
    {{/ifEquals}}
    {{#ifEquals role "ADMIN"}}
        <h1>Hola {{ name }}! Estas en modo administrador, ojo con lo que haces.</h1>
    {{/ifEquals}}
</header>

<main class="container">
    <table>
        <tbody id="products-list">
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
        {{#each products }}
        {{> product this role=../role cartId=../cartId}}
        {{/each}}
        </tbody>
    </table>

    {{#ifEquals role "USER"}}
        <a href="/carts/{{ cartId }}">Ver carrito</a>
    {{/ifEquals}}
    {{#ifEquals role "ADMIN"}}
        <a href="/products/new">Nuevo producto</a>
    {{/ifEquals}}
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</main>