<header>
    <h1>Productos - WEBSOCKETS</h1>
</header>

<main class="container">
    <section>
        <h3>Listado dinámico de Productos</h3>
        {{!-- Uso de nomenclatura BEM (B de bloque, E de elemento y M de modificador)--}}
        <div class="products">
            <div class="products__list">
                <ul class="products__list__item" id="products-list"></ul>
            </div>
        </div>
    </section>

    <section>
        <h3>Formulario de Alta de Productos</h3>
        <form class="products__form" id="products-form">
            <input type="text" name="title" placeholder="Nombre del producto">
            <input type="text" name="description" placeholder="Descripción del producto">
            <input type="text" name="code" placeholder="Código del producto">
            <input type="number" name="price" placeholder="precio del producto">
            <input type="number" name="stock" placeholder="Stock del producto">
            <input type="text" name="category" placeholder="Categoría del producto">

            <input type="submit" value="Guardar" style="width: 100%">
        </form>
    </section>

    <section>
        <h3>Eliminación de Productos</h3>
        <div class="products__delete">
            <input type="number" class="products__delete__input" id="input-product-id"
                placeholder="ID del Producto a eliminar">
            <button id="btn-delete-product">Eliminar</button>
        </div>
    </section>

    <p class="error-message" id="error-message"></p>
</main>

{{!-- El script de socket.io debe estar antes que home.js --}}
<script src="/socket.io/socket.io.js"></script>